.mobile-menu {display: none;}
@media only screen and (max-width: 401px){

    table, thead, tbody, th, td, tr {
        display: block;
    }

    #div__header, #div__body  {
        width: 100%!important;
        border: none;
    }
    #toplogo {
        position: fixed;                          /* UN FIXED */
        z-index: 10;
    }
    #toplogo #logodiv img {
        width: 95%;
    }
    #headersearchtext {
        width: 70%!important;
        float: left!important;
        text-align: center!important;
    }
    #headersearchtext form#emailreg div {
        display: none;
    }
    .mobile-menu {
        display: block;
        float: left;
        width: 25%;
    }
    .hamburger {
        margin-left: 30px;
        font-size: 50px;
        text-decoration: none;
        color: #ffffff;
    }
    #topred {
        position: absolute;

        top: 147px;                       /* UN FIXED */
        height: 65px;
        font-size: 11px;
    }
    #topcontrols {
        float: left;
        font-size: 11px;
        margin: 15px 0 0 11px;
    }
    #mainMenu {
        display: none;
        margin-top: 147px;
        position: fixed;
        width: 100%!important;
        background-color: #ffffff;

    }

    .navsep {width: 100%!important;}
    #mainMenu ul {
        text-align: center;
        font-size: 16px;
    }
    #mainMenu #productMenuList {display: none;}  /* MENU OPTION 1 */
    a#emailsubbanner {display:none;}            /* MENU OPTION 2 */
    #div__body {
        background: none;
    }
    table#pageContent, div#bcrumbs, div#fauxcrumbs {
        width: 93%!important;
    }
    div#bcrumbs {
        margin-top: 215px;
    }
    #crumbtrail {
        width: 100%!important;
    }
    table#wrapper, td#leftside, td#leftside table {
        width: 100%!important;
    }
    .homeLinkBox {
        display: block;
        float: left;
        width: 48%;
        min-height: 200px;
        padding: 0 1%!important;
        border: none!important;
    }
    .homeLinkBox img {
        width: 100%;
    }
    td#rightside img {
        width: 100%;
        height: 184px;
    }
    .matt_override {width: 100%!important;}
    #BN_HomeGuide {
        width: 100%;
        height: inherit;
        background: none;
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px dotted #D5D3AA;
    }
    #bn_placeholder0:nth-of-type(2n) {display: none;}
    #BN_HomeGuide .bn_g_welcome {
        width: 100%;
        font-size: 20px;
        margin-top: 0;
        padding-top: 25px;
        background-color: #F7F7DD;
    }
    #BN_HomeGuide #bn_g_result0_1 {
        border-top: none;
    }
    #BN_HomeGuide .bn_g_result {
        display: block;
        float: left;
        width: 43%;
        height: 185px;
        border: none;
        border-top: none;
    }
    div.footerBlock:first-of-type {display:none;}
    #div__footer {
        width: 97%!important;
        padding-left: 3%;
        border: none;
    }
    .footerRightBlock{
        float: left!important;
        margin-left: 65px!important;
        margin-top: 25px!important;
    }
    #div__footer p {
        width: 97%!important;
    }
}

                                                 /* TYPICAL MEDIA QUERIES */


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/*================================================================*/


/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}
